<h1>{{this.name}}</h1>
<img class="cube"
  src="{{this.imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{this.description}}</p>
  <p><span>Difficulty level:</span> {{this.difficulty}}</p>
  <a class="btn" href="/">Back</a>
  {{#if isLoggedIn}}
    <a class="btn" href="/attach/accessory/{{this._id}}">Attach accesory</a>
    <a class="btn" href="/edit/cube/{{this._id}}">Edit</a>
    <a class="btn" href="/delete/cube/{{this._id}}">Delete</a>
  {{/if}}
</div>
<h2>Accessories</h2>
<div class="accessories">
    {{#each accessories}}
      <div class="accessory">{{> accessory}}</div>
    {{else}}
      <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}} 
</div>