<img class="card-img-top"
    src="{{this.carImage}}"
    alt="{{this.startPoint}} - {{this.endPoint}}">
<div class="card-body">
    <h4 class="card-title">{{this.startPoint}} - {{this.endPoint}}</h4>
</div>
<div class="card-footer">
    <a href="/tripp/details/{{this._id}}" class="btn btn-primary">Find Out More!</a>
</div>